* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F9F7F4;
}

img {
    display: block;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
  position: absolute;
}

.imgRes {
    width: 100%;
    height: auto;
}

.responsive2 {
    width: 100%;
    height: 79px;
}
.responsive3 {
    width: 100%;
    height: 890px;
}

#Идеальные_путешествия {
    position: absolute;

    top: 16.3%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -0%);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 109%;
    text-align: center;
    letter-spacing: 0.02em;
    width:768px;height:315px;
}

#Идеальные_путешествия2 {
    position: absolute;
    width: 562px;
    height: 56px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 375;
    font-size: 20px;
    line-height: 142%;

    text-align: center;
    color: #FFFFFF;
    top:515px;

    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    color: #FFFFFF;
}

#Найти_тур {
    position: absolute;
    padding: 5px 20px;

    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    top: 610px;
    width: 118px;
    height: 34px;

    background: #FFFFFF;
    border-radius: 10px;
    border-width: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 401;
    font-size: 17px;
    line-height: 142%;

    letter-spacing: -0.01em;

    color: #1B1F2B;
}

.containerItems {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 180px;

    top:50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#menuTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

#menuBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 35px;
}

.main_item
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 350;
    font-size: 20px;

    color: #FFFFFF;
}



#phoneNumber {

font-family: 'Roboto';
font-style: normal;
font-weight: 350;
font-size: 20px;

color: #FFFFFF;

flex: none;
order: 2;
flex-grow: 0;
}

#logo {
    width: auto;
    height: auto;

}

#Выбери_свой_тур {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 59px;
line-height: 124%;
text-align: center;
margin-top: 135px;
color: #1B1F2B;
}

.menu_items2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;

    color: #1B1F2B;
}

#menu_item_pop {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
    
    border-bottom: 2px solid #EFA501;;

    color: #EFA501;
}

.cards {
    margin-top: 100px;
    gap: 30px;
}

.cards_container {
    height: 531px;
     width: 370px;
    display: inline-block;
    margin-right: 30px;
    text-align: left;
    
}

.cardRows {
    gap: 30px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);

}

.cardImg {
    width: 370px;
    height: 531px;
    display: inline;
    border-radius: 50px;
    position: relative;
    margin-bottom: 30px;
}

.cards_left-top {
    
    top: 50px; left: 50px;
    position:absolute;
}

.cardLeftTop {
    /*position:absolute; left: 50px; top: 50px; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 122%;
    
    color: #FFFFFF;
    
    word-wrap:break-word;
    width: 240px;
    
/* or 43px */


/* White */

color: #FFFFFF;
}

.cardLeftTopBtm {
    /*position:absolute;left: 50px;top: 50px;*/
    margin-top: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 142%;       
    letter-spacing: -0.01em;

    color: #FFFFFF;
}

.cardLeftBtmText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
    
    color: #FFFFFF;
    position:absolute;
    left: 50px; bottom: 50px;
}
.inlineBlockVec {
    display: inline;
}

.input {
    padding: 20px;
    gap: 10px;

    width: 500px;
    height: 28px;

    /* Beige 100 */

    background: #F9F7F4;
    /* Beige 200 */

    border: 1px solid #F4F0E9;
    border-radius: 10px;

    margin-right: 30px;
}

.inputMargin {
    margin-bottom: 33px;
}

.input_label {
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color: #1B1F2B;
}

label {
    color:#1B1F2B;
}

.age-check_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #1B1F2B;
    vertical-align: middle;
}

#Найти_тур:hover {
    background: #EFA501;
    color: #FFFFFF;
}

#Найти_тур:active {
    background: #F8E6BE;
    color: #1B1F2B;
}

.main_item:hover {
    text-decoration: underline;
}

input[type="radio"] {
    width: 26px;
    height: 26px;
}